#heading {
  color: red;
}

#parent {
  border: 2px solid black;
  background-color: rgb(9, 81, 81);
}

#child {
  border: 2px solid black;
  background-color: rgb(155, 236, 236);
  padding: 10px;
  margin: 30px;
  text-align: center;
}

#child h1 {
  color: red;
}
